/* ====== CLASSES USED WITH INTERSECTION OBSERVER (ANIMATED IMAGES) ====== */
.hidden--right {
  opacity: 0;
}

.hidden--left {
  opacity: 0;
}

.animated--right {
  opacity: 1;
  animation: animation--moveInRight 0.6s ease-out;
  }

.animated--left {
  opacity: 1;
  animation: animation--moveInLeft 0.6s ease-out;
  }

/* ====== ANIMATION KEYFRAMES ====== */
@keyframes animation--moveInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animation--moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animation--moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
