/*====== REUSABLE CSS CLASSES ======*/

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 4.8rem;
}

.title--uppercase {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-decoration-line: underline;
  text-decoration-color: var(--color-primary-500);
  text-decoration-thickness: 3px;
}

.border-top {
  border-top: 1px solid var(--color-grey-200);
}

.logo__img {
  height: 6.2rem;
}