/*====== REUSABLE CSS CLASSES ======*/

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 4.8rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--v {
  align-items: center;
}

.title--uppercase {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-decoration: underline var(--color-primary-500) 3px;
}