/*====== REUSABLE CSS CLASSES ======*/

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 4.8rem;
}

.grid--v {
  align-items: center;
}

.title--uppercase {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-decoration: underline var(--color-primary-500) 3px;
}

.u-border-top {
  border-top: 1px solid var(--color-grey-200);
}
