/* ====== MEDIA QUERIES ====== */
@media (max-width: 75em) {
  /* Bellow 1200px */

  html {
    /* 9px / 16px */
    font-size: 56.25%;
  }

  .header__nav-list {
    gap: var(--space-sm);
  }
}

@media (max-width: 55em) {
  /* Bellow 880px */
  html {
    font-size: 50%;
  }

  .header__nav-list {
    gap: var(--space-2xs);
  }

  .feature {
    column-gap: var(--space-xs);
  }

  .feature__content {
    padding: var(--space-xs);
  }
}

@media (max-width: 48em) {
  /* Bellow 768px */
  .hero__container {
    grid-template-columns: 1fr;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero__content-img {
    display: flex;
    justify-content: center;
  }

  .hero__img {
    width: 75%;
  }

  .feature {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: var(--space-sm);
  }

  .feature__container {
    width: 45%;
    height: 40rem;
  }

  .timeline {
    grid-template-columns: 1fr;
  }

  .timeline__box {
    min-height: 2rem;
    max-height: 6rem;
    overflow: hidden;
  }

  .timeline__title--work {
    margin-top: var(--space-md);
  }

  .timeline__title {
    margin-bottom: var(--space-4xs);
  }

  .border-top:last-child {
    border: none;
  }
}

@media (max-width: 36em) {
  /* Bellow 576px */
  .hero__img {
    width: 90%;
  }

  .header__nav {
    position: absolute;
    top: 5.6rem;
    right: 0;
    width: 100%;
    transition: top 0.4s, opacity 0.3s;
    overflow: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    will-change: opacity, visibility;
  }

  .header__nav-list {
    display: block;
    padding-top: 1rem;
    background-color: var(--color-header-bg);
  }

  .header__nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 1.5rem;
  }

  .header__toggle--burger {
    opacity: 1;
    pointer-events: auto;
  }

  .show-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .show-icon .header__toggle--burger {
    opacity: 0;
    pointer-events: none;
    transform: rotate(90deg);
  }

  .show-icon .header__toggle--close {
    opacity: 1;
    pointer-events: auto;
    transform: rotate(90deg);
  }

  .skills__container {
    grid-template-columns: 1fr;
    row-gap: var(--space-md);
  }

  .skills__content--development-tools {
    grid-row: 3/4;
  }

  .feature__container {
    width: 60%;
    height: 40rem;
  }

  .footer__container {
    flex-direction: column;
    padding: 1.5rem;
  }

  .footer .logo {
    display: none;
  }
}

@media (max-width: 25em) {
  /* Bellow 400px */

  .feature__container {
    width: 80%;
    height: 40rem;
  }

  .timeline__box {
    grid-template-columns: 3fr 3fr;
  }
}
