/* ====== ABOUT ======  */

.about {
  padding-top: clamp(var(--space-lg), 5vw, var(--space-xl));
  padding-bottom: clamp(var(--space-xs), 3vw, var(--space-sm));
  background-color: var(--color-bg-alt);
}

.about__title {
  margin-bottom: clamp(var(--space-xs), 3vw, var(--space-sm));
  background-color: var(--color-bg-alt);
}

.about__description {
  margin-bottom: clamp(var(--space-sm), 4vw, var(--space-md));
}

.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--column-gap-md);
}

.timeline__title {
  margin-bottom: clamp(var(--space-4xs), 1vw, var(--space-xs));
}

.timeline__container {
  display: flex;
  flex-direction: column;
  gap: clamp(var(--space-xs), 2vw, var(--space-sm));
}

.timeline__subtitle {
  margin-bottom: 0.8rem;
  padding-top: clamp(var(--space-2xs), 1vw, var(--space-sm));
}

.timeline__box {
  display: grid;
  grid-template-columns: 5fr 3fr;
  column-gap: 1rem;
  min-height: 6rem;
}

.timeline__box p:last-child {
  text-align: right;
}
