/* ====== HEADER ======  */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.6rem;
  padding: 0 4.8rem 0 3.2rem;
  position: relative;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(var(--space-sm), 4vw, var(--space-md));
}

.header__nav-link:link,
.header__nav-link:visited {
  font-size: clamp(var(--font-size-xs), 2vw, var(--font-size-sm));
  font-weight: var(--font-weight-semi-bold);
  text-transform: uppercase;
  color: var(--color-text-tertiary);
  transition: all 0.3s;
}

.header__nav-link:hover,
.header__nav-link:active {
  background-color: var(--color-secondary-400);
  padding: 1.2rem;
  border-radius: var(--radius-sm);
}

/* ====== STICKY NAVIGATION ======  */

.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--color-header-bg);
}

/* ====== TOGGLE MENU ======  */

.header__toggle {
  position: absolute;
  top: 50%;
  right: 6rem;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex; 
  align-items: center;
  justify-content: center; 
  background: none;
  border: none;
  z-index: 100;
}

.header__toggle--burger,
.header__toggle--close {
  color: var(--color-text-tertiary);
  font-size: 2.5rem;
  transition: opacity 0.1s, transform 0.3s;
  width: max-content;
  height: max-content;
  opacity: 0;
  position: absolute; 
}
