/* ====== HERO ======  */

.hero {
  padding-top: var(--space-2xl);
  padding-bottom: clamp(var(--space-xl), 5vw, var(--space-2xl));
  background-color: var(--color-bg);
}

.hero__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: clamp(var(--space-lg), 5vw, var(--space-xl));
  row-gap: clamp(var(--space-xl), 5vw, var(--space-2xl));
}

.hero__img {
  width: 100%;
  animation: animation--moveInRight 1s ease-out;
}

.hero__content-title {
  margin-bottom: clamp(var(--space-2xs), 3vw, var(--space-xs));
}

.hero__content-description {
  margin-bottom: clamp(var(--space-xs), 3vw, var(--space-sm));
}

.hero__content-social-links {
  animation: animation--moveInBottom 1s ease-out;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: clamp(var(--space-3xs), 3vw, var(--space-2xs));
}

.social-links__icon {
  height:  clamp(4rem, 5vw, 4.4rem);
  width:  clamp(4rem, 5vw, 4.4rem);
  color: var(--color-social-icons);
  transition: transform 0.3s;
}

.social-links__icon:hover,
.social-links__icon:active {
  color: var(--color-social-icons-hover);
  transform: scale(1.1);
}

.button--cta {
  display: inline-block;
  background-color: var(--color-button-bg);
  color: var(--color-text-tertiary);
  padding: 1.6rem 2rem;
  font-size: clamp(var(--font-size-sm), 2vw, var(--font-size-md));
  font-weight: var(--font-weight-semi-bold);
  text-align: center;
  border-radius: var(--radius-md);
  transition: background-color 0.3s;
}

.button--cta:hover {
  background-color: var();
}

.button--disabled[aria-disabled="true"] {
  opacity: 0.7;
  pointer-events: none;
}
