/* ====== PROJECTS ======  */

.projects {
  padding-top: var(--space-2xl);
  padding-bottom: var(--space-3xl);
  position: relative;
  z-index: 0;
}

.projects__title {
  text-align: center;
  margin-bottom: var(--space-lg);
}

.projects__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.projects__background-video {
  object-fit: cover;
  opacity: 0.6;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.feature {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  column-gap: var(--space-sm);
  margin: 0 auto;
}

.feature__container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 45rem;
  background-color: var(--color-feature-bg);
  transition: transform 0.3s;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: var(--radius-md);
  overflow: hidden;
}

.feature__container:hover {
  transform: translateY(-1rem);
  box-shadow: 0 2.8rem 5.6rem rgba(0, 0, 0, 0.09);
}

.feature__container:hover img {
  filter: brightness(0.7);
}

.feature__container:hover .feature__icon--code,
.feature__container:hover .feature__icon--open,
.feature__container:hover .feature__icon-label {
  opacity: 1;
}

.feature__container:active {
  transform: translate(-0.5rem);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.11);
}

.feature__container-img {
  position: relative;
  overflow: hidden;
}

.feature__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s;
}

.feature__icon {
  height: clamp(1.5rem, 3vw, 3rem);
  width: clamp(1.5rem, 3vw, 3rem);
  color: var(--color-white);
  --ionicon-stroke-width: 4rem;
}

.feature__icon--code,
.feature__icon--open {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: var(--radius-md);
  padding: 1rem;
}

.feature__icon--code {
  left: 33%;
}

.feature__icon--open {
  left: 66%;
}

.feature__icon-label {
  position: absolute;
  top: 66%;
  transform: translate(-50%, -50%);
  color: var(--color-white);
  font-size: var(--font-size-md);
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-top: 0.6rem;
}

.feature__icon-label--left {
  left: 33%;
}

.feature__icon-label--right {
  left: 66%;
}

.feature__content {
  padding: var(--space-sm);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.feature__content-tags {
  display: flex;
  gap: 0.6rem;
  margin-bottom: var(--space-3xs);
  flex-wrap: wrap;
}

.feature__content-tag {
  display: inline-block;
  background-color: var(--color-feature-tag);
  color: var(--color-text-secondary);
  font-size: var(--font-size-2xs);
  font-weight: var(--font-weight-medium);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 0.4rem 0.8rem;
  border-radius: 100px;
}

.feature__description {
  font-size: var(--font-size-md);
}
